
html, body {
  margin: 4px;
  font-family: sans-serif;
}



/* 3 columns by default */
.grid-sizer, .masonry-brick { width: 33.333%; }

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .masonry-brick { width: 20%; }
}



.picture {
  background: #eeeeee url(../img/loading-fb.gif) center center no-repeat;
  width: calc(100% - 4px);    // !!!
}

.info {
  width: calc(100% - 4px);    // !!!

  margin-top: 0;
  margin-bottom: 0.6em;
}

.info p {
  font-size: 0.7em;
  margin: 0;
  margin-bottom: 0.3em;
  text-align: center;
}

.info span {
  white-space: nowrap;
  margin-right: 0.5em;
}