

<img ng-show="photosCtrl.loading" src="img/loading-fb.gif">


<div masonry column-width="200" preserve-order reload-on-resize >
  <div class="masonry-brick" ng-repeat="photo in photosCtrl.photos">

    <a ng-href="{{photo.images[1].source}}" data-lightbox="thephotos">
      <img class="picture" ng-src="{{photo.picture}}">
    </a>
    <div class="info">
      <p>
        <span><i class="fa fa-clock-o"></i> {{photo.created_time | date}}</span>
        <span><i class="fa fa-comments"></i> {{photo.comments.data.length || 0}}</span>
        <span><i class="fa fa-heart"></i> {{photo.reactions.data.length || 0}}</span>
      </p>
      <p>
        <span><i class="fa fa-picture-o"></i> {{photo.images[1].width}}x{{photo.images[1].height}}</span>
        <span><a target="_blank" ng-href="{{photo.link}}"><i class="fa fa-external-link"></i></a></span>
        <span><a download ng-href="{{photo.images[1].source}}"><i class="fa fa-download"></i></a></span>
      </p>
    </div>
  </div>

</div>
