

<img ng-show="photosCtrl.loading" src="img/loading-fb.gif">


<div masonry column-width=".grid-sizer" masonry-options="{ percentPosition: true }" preserve-order reload-on-resize >
  <div class="grid-sizer"></div>
  <div class="masonry-brick" ng-repeat="photo in photosCtrl.photos">

    <a ng-href="{{photo.images[0].source}}" data-lightbox="thephotos">
      <img 
        class="picture" 
        lazy-img="{{photo.picture}}"
        ng-style="photosCtrl.pictureStyles(photo)">
    </a>
    <div class="info">
      <p>
        <span><i class="fa fa-clock-o"></i> {{photo.created_time | date}}</span>
        <span><i class="fa fa-comments"></i> {{photo.comments.data.length || 0}}</span>
        <span><i class="fa fa-heart"></i> {{photo.reactions.data.length || 0}}</span>
      </p>
      <p>
        <span><i class="fa fa-picture-o"></i> {{photo.images[0].width}}x{{photo.images[0].height}}</span>
        <span><a target="_blank" ng-href="{{photo.link}}"><i class="fa fa-external-link"></i></a></span>
        <span><a download ng-href="{{photo.images[0].source}}"><i class="fa fa-download"></i></a></span>
      </p>
    </div>
  </div>

</div>
