<!doctype html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <title>Facebook Photo Browser</title>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">

  <!-- ANGULAR MASONRY -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-bridget/jquery-bridget.js"></script>
  <script src="bower_components/ev-emitter/ev-emitter.js"></script>
  <script src="bower_components/desandro-matches-selector/matches-selector.js"></script>
  <script src="bower_components/fizzy-ui-utils/utils.js"></script>
  <script src="bower_components/get-size/get-size.js"></script>
  <script src="bower_components/outlayer/item.js"></script>
  <script src="bower_components/outlayer/outlayer.js"></script>
  <script src="bower_components/masonry/masonry.js"></script>
  <script src="bower_components/imagesloaded/imagesloaded.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-masonry/angular-masonry.js"></script>

  <!-- LIGHTBOX -->
  <link href="bower_components/lightbox2/dist/css/lightbox.min.css" rel="stylesheet">
  <script src="bower_components/lightbox2/dist/js/lightbox.min.js"></script>

  <!-- FACEBOOK GRAPH API -->
  <script src="//connect.facebook.net/en_US/sdk.js"></script>

  <!-- ASYNC -->
  <script src="bower_components/async/dist/async.min.js"></script>

  <!-- FONT AWESOME -->
  <script src="https://use.fontawesome.com/9ccc9f2c30.js"></script>


  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body ng-controller="FacebookCtrl as facebook">

  <button ng-hide="facebook.isFBLoggedIn" ng-click="facebook.showLogin()">Facebook Log In</button>

  <div ng-show="facebook.isFBLoggedIn">
    
    <img ng-show="!facebook.isFBDataLoaded" src="img/loading-fb.gif">

    <div ng-show="facebook.isFBDataLoaded" masonry column-width="200" preserve-order reload-on-resize >
      <div class="masonry-brick" ng-repeat="photo in facebook.photos">

        <a ng-href="{{photo.images[1].source}}" data-lightbox="thephotos">
          <img class="picture" ng-src="{{photo.picture}}">
        </a>
        <div class="info">
          <p>
            <span><i class="fa fa-clock-o"></i> {{photo.created_time | date}}</span>
            <span><i class="fa fa-comments"></i> {{photo.comments.data.length || 0}}</span>
            <span><i class="fa fa-heart"></i> {{photo.reactions.data.length || 0}}</span>
          </p>
          <p>
            <span><i class="fa fa-picture-o"></i> {{photo.images[1].width}}x{{photo.images[1].height}}</span>
            <span><a target="_blank" ng-href="{{photo.link}}"><i class="fa fa-external-link"></i></a></span>
            <span><a download ng-href="{{photo.images[1].source}}"><i class="fa fa-download"></i></a></span>
          </p>
        </div>
      </div>

    </div>

  </div>


  <script src="js/facebook.js"></script>
  <script>
    lightbox.option({
      'resizeDuration': 200,
      'disableScrolling': true
    })
  </script>

</body>
</html>

